TheField/SFML-2.5.1/
TheField/TheField/x64/
TheField/.vs/
TheField/x64/
TheField/TheField/TheField.vcxproj
TheField/TheField/Debug/
TheField/TheField/Release
TheField/Release/TheFields.exe
TheField/Release/TheFields.iobj
TheField/Release/TheFields.ipdb
TheField/Release/TheFields.pdb
TheField/Debug/TheFields.exe
TheField/Debug/TheFields.ilk
TheField/Debug/TheFields.pdb
TheField/Debug/TheFields.exe
TheField/Debug/TheFields.ilk
TheField/Debug/TheFields.pdb
TheField/Debug/Data/Saves/
TheField/Release/Data/Saves/
TheField/TheFieldsLib/Debug/
TheField/LevelEditor/Debug/
TheField/Debug/LevelEditor.exe
TheField/Debug/LevelEditor.ilk
TheField/Debug/LevelEditor.pdb
TheField/Debug/TheFieldsLib.pdb
TheField/Debug/TheField.exe
TheField/Debug/TheField.ilk
TheField/Debug/TheField.pdb
