TheField/SFML-2.5.1/
TheField/TheField/Debug/
TheField/TheField/Release/
TheField/TheField/x64/
TheField/Debug/
TheField/Release/
TheField/.vs/
TheField/x64/
TheField/TheField/TheField.vcxproj
!TheField/TheField/Data/Saves/Development/
